@import './default';
@import './questions';
@import './answers';

.checklist {
  padding: 30px;

  &-title {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    background: #f5f5f5;
  }

  &-confirm {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #06c;
    outline: none;
    background: #06c;
    cursor: pointer;

    &:hover {
      color: #06c;
      background: rgba(0, 102, 204, 0.05);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }
  }
}
